
.loginFormWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.loginFormWrapper div{
    margin-bottom: 20px;
}

.loginForm{
    display: flex;
    flex-direction: column;
    /*gap: 30px;*/
}
.checkboxWrapper{
    display: flex;
}
